/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Basic Variables */
/* Typography */
/* Spacing */
/*
I. Backgrounds
	A. Primary Colors
	B. Secondary Colors
	C. Tints
II. Borders
	A. Primary Colors
	B. Secondary Colors
	C. Tints 
*/
/* For lightening color. */
/* For darkening color. */
/* Lightening Background states */
/* Lightening Borders */
/* Darkening Background states */
/* Darkening Border colors */
/* Darkening Border colors */
/* I. Backgrounds */
/* A. Primary Colors */
.fill-blue, .button.primary {
  background-color: #0076DE; }

.fill-black {
  background-color: #1C1F21; }

.fill-white, .button.primary.inverted {
  background-color: #fff; }

/* B. Secondary Colors */
.fill-red, .button.primary.negative {
  background-color: #F44336; }

.fill-green {
  background-color: #4CAF50; }

.fill-amber {
  background-color: #FFC107; }

/* C. Tints */
/* 1. Blues */
.fill-blue-1 {
  background-color: #3391e5; }

.fill-blue-2, .button:hover, .button.secondary:hover, .button.secondary.inverted:hover, .button.primary:hover, .button.primary.inverted:hover {
  background-color: #66adeb; }

.fill-blue-3 {
  background-color: #99c8f2; }

/* 2. Black */
.fill-black-1 {
  background-color: #494c4d; }

.fill-black-2 {
  background-color: #77797a; }

.fill-black-3 {
  background-color: #a4a5a6; }

/* 3. Whites */
.fill-white-1 {
  background-color: #e6e6e6; }

.fill-white-2, .button.primary.deactivated, .button.primary.deactivated:hover {
  background-color: #cccccc; }

.fill-white-3 {
  background-color: #b3b3b3; }

/* 4. Red */
.fill-red-1 {
  background-color: #f6695e; }

.fill-red-2, .button.negative:hover, .button.secondary.negative:hover, .button.primary.negative:hover {
  background-color: #f88e86; }

.fill-red-3 {
  background-color: #fbb4af; }

/* 5. Amber */
.fill-amber-1 {
  background-color: #ffcd39; }

.fill-amber-2 {
  background-color: #ffda6a; }

.fill-amber-3 {
  background-color: #ffe69c; }

/* 6. Green */
.fill-green-1 {
  background-color: #70bf73; }

.fill-green-2 {
  background-color: #94cf96; }

.fill-green-3 {
  background-color: #b7dfb9; }

/* II. Borders */
/* A. Primary */
/* 1. Blue */
.border-blue, .button.secondary {
  border-color: #0076DE; }

/* 2. Black */
.border-black {
  border-color: #1C1F21; }

/* 3. White */
.border-white {
  border-color: #fff; }

/* Secondary */
/* 1. Amber */
.border-amber {
  border-color: #FFC107; }

/* 2. Red */
.border-red, .button.secondary.negative {
  border-color: #F44336; }

/* 3. Green */
.border-green {
  border-color: #4CAF50; }

/* Tints */
/* Blue */
.border-blue-1 {
  border-color: #3391e5; }

.border-blue-2, .button.secondary:hover, .button.secondary.inverted:hover {
  border-color: #66adeb; }

.border-blue-3 {
  border-color: #99c8f2; }

/* Black */
.border-black-1 {
  border-color: #494c4d; }

.border-black-2 {
  border-color: #77797a; }

.border-black-3 {
  border-color: #a4a5a6; }

/* White */
.border-white-1 {
  border-color: #e6e6e6; }

.border-white-2, .button.secondary.deactivated, .button.secondary.deactivated:hover {
  border-color: #cccccc; }

.border-white-3 {
  border-color: #b3b3b3; }

/* Amber */
.border-amber-1 {
  border-color: #ffcd39; }

.border-amber-2 {
  border-color: #ffda6a; }

.border-amber-3 {
  border-color: #ffe69c; }

/* Red */
.border-red-1 {
  border-color: #f6695e; }

.border-red-2, .button.secondary.negative:hover {
  border-color: #f88e86; }

.border-red-3 {
  border-color: #fbb4af; }

/* Green */
.border-green-1 {
  border-color: #70bf73; }

.border-green-2 {
  border-color: #94cf96; }

.border-green-3 {
  border-color: #b7dfb9; }

/* III. Text Color */
/* A. Primary Color */
.textcolor-blue {
  color: #0076DE; }

.textcolor-black {
  color: #1C1F21; }

.textcolor-white {
  color: #fff; }

/* B. Secondary Color */
.textcolor-amber {
  color: #FFC107; }

.textcolor-red {
  color: #F44336; }

.textcolor-green {
  color: #4CAF50; }

/* C. Tints */
.textcolor-blue-1 {
  color: #3391e5; }

.textcolor-blue-2 {
  color: #66adeb; }

.textcolor-blue-3 {
  color: #99c8f2; }

.textcolor-black-1 {
  color: #494c4d; }

.textcolor-black-2 {
  color: #77797a; }

.textcolor-black-3 {
  color: #a4a5a6; }

.textcolor-white-1 {
  color: #e6e6e6; }

.textcolor-white-2, .button.secondary.deactivated, .button.secondary.deactivated:hover {
  color: #cccccc; }

.textcolor-white-3 {
  color: #b3b3b3; }

.textcolor-amber-1 {
  color: #ffcd39; }

.textcolor-amber-2 {
  color: #ffda6a; }

.textcolor-amber-3 {
  color: #ffe69c; }

.textcolor-red-1 {
  color: #f6695e; }

.textcolor-red-2 {
  color: #f88e86; }

.textcolor-red-3 {
  color: #fbb4af; }

.textcolor-green-1 {
  color: #70bf73; }

.textcolor-green-2 {
  color: #94cf96; }

.textcolor-green-3 {
  color: #b7dfb9; }

/* paddings */
/* margins */
.border-all {
  border-width: 1px 1px 1px 1px;
  border-style: solid; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* This is a clearfix to make sure the layout stretches to the bottom */
/* This is the basic grid wrapper */
.layout-wrapper, .sample-livegrid {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto; }

/* Sets up a layout row */
.layout-row:after {
  display: table;
  clear: both;
  content: ''; }

/* Sets up the left and right margins */
.column {
  float: left;
  box-sizing: border-box; }
  @media (min-width: 0px) {
    .column {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) {
    .column {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) {
    .column {
      margin-right: 1rem;
      margin-left: 1rem; } }

/* Creates a mixin for columns */
/* Creates all the css column classes */
@media (min-width: 0px) {
  .column-1 {
    width: calc(100% * 1/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-1 {
    width: calc(100% * 1/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-1 {
    width: calc(100% * 1/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-2 {
    width: calc(100% * 2/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-2 {
    width: calc(100% * 2/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-2 {
    width: calc(100% * 2/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-3 {
    width: calc(100% * 3/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-3 {
    width: calc(100% * 3/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-3 {
    width: calc(100% * 3/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-4 {
    width: calc(100% * 4/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-4 {
    width: calc(100% * 4/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-4 {
    width: calc(100% * 4/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-5 {
    width: calc(100% * 5/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-5 {
    width: calc(100% * 5/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-5 {
    width: calc(100% * 5/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-6 {
    width: calc(100% * 6/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-6 {
    width: calc(100% * 6/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-6 {
    width: calc(100% * 6/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-7 {
    width: calc(100% * 7/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-7 {
    width: calc(100% * 7/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-7 {
    width: calc(100% * 7/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-8 {
    width: calc(100% * 8/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-8 {
    width: calc(100% * 8/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-8 {
    width: calc(100% * 8/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-9 {
    width: calc(100% * 9/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-9 {
    width: calc(100% * 9/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-9 {
    width: calc(100% * 9/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-10 {
    width: calc(100% * 10/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-10 {
    width: calc(100% * 10/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-10 {
    width: calc(100% * 10/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-11 {
    width: calc(100% * 11/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-11 {
    width: calc(100% * 11/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-11 {
    width: calc(100% * 11/12 - (1rem * 2 )); } }

@media (min-width: 0px) {
  .column-12 {
    width: calc(100% * 12/12 - (0.25rem * 2 )); } }

@media (min-width: 640px) {
  .column-12 {
    width: calc(100% * 12/12 - (0.5rem * 2 )); } }

@media (min-width: 1025px) {
  .column-12 {
    width: calc(100% * 12/12 - (1rem * 2 )); } }

body {
  font-family: "Fira Sans";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em; }

h1, h2, h3, h4 {
  font-weight: 500;
  margin-bottom: 0.5rem; }

h1 {
  font-size: 3.3614em;
  line-height: 1.2em; }
  @media (min-width: 280px) and (max-width: 768px) {
    h1 {
      font-size: calc( 3.3614em + 1.06829 * ( ( 100vw - 280px) / 488 )); } }
  @media (min-width: 768px) {
    h1 {
      font-size: 4.42969em; } }

h2 {
  font-size: 2.401em;
  line-height: 1.2em; }
  @media (min-width: 280px) and (max-width: 768px) {
    h2 {
      font-size: calc( 2.401em + 0.55213 * ( ( 100vw - 280px) / 488 )); } }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.95312em; } }

h3 {
  font-size: 1.715em;
  line-height: 1.3em; }
  @media (min-width: 280px) and (max-width: 768px) {
    h3 {
      font-size: calc( 1.715em + 0.25375 * ( ( 100vw - 280px) / 488 )); } }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.96875em; } }

h4 {
  font-size: 1.225em;
  line-height: 1.3em; }
  @media (min-width: 280px) and (max-width: 768px) {
    h4 {
      font-size: calc( 1.225em + 0.0875 * ( ( 100vw - 280px) / 488 )); } }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.3125em; } }

p {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.caption {
  font-size: 0.625em; }

label {
  font-size: 0.625em; }

a {
  color: #0076DE;
  text-decoration: none; }
  a:hover {
    color: textcolortint(#0076DE, 2); }
  a:active {
    color: textcolortint(#0076DE, 0); }
  a:visited {
    color: textcolortint(#0076DE, 0); }
  a:link {
    color: textcolortint(#0076DE, 0); }

.textalign-left {
  text-align: left; }

.textalign-right {
  text-align: right; }

.textalign-center {
  text-align: center; }

/* Buttons */
.button {
  text-transform: uppercase;
  display: inline-block;
  border-radius: 0.25rem;
  transition: background-color 0.30s ease-out;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin: 0.5rem;
  text-decoration: none; }
  .button:hover {
    color: #fff; }
  .button.inverted {
    color: #fff; }
  .button.deactivated {
    color: #cccccc; }
  .button.deactivated:hover {
    background-color: transparent; }
  .button.negative {
    color: #F44336; }
  .button.negative:hover {
    color: #fff; }
  .button.secondary {
    border-width: 1px 1px 1px 1px;
    border-style: solid; }
    .button.secondary.inverted {
      border-color: #fff; }
    .button.secondary.deactivated:hover {
      background-color: transparent; }
    .button.secondary.negative {
      color: #F44336; }
    .button.secondary.negative:hover {
      color: #fff; }
  .button.primary {
    color: #fff; }
    .button.primary.inverted {
      color: #0076DE; }
    .button.primary.inverted:hover {
      color: #fff; }

.card {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #e6e6e6;
  padding: 1rem; }
  @media (min-width: 640px) {
    .card {
      padding: 1rem; } }
  @media (min-width: 1025px) {
    .card {
      padding: 1.5rem; } }

input {
  border-bottom: 1px solid;
  border-top: 0px solid;
  border-right: 0px solid;
  border-left: 0px solid;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.875em;
  font-weight: "Fira Sans";
  line-height: 1.5em; }
  input::placeholder {
    color: #626d74;
    font-weight: 300; }
  input:focus {
    border-color: #2c9cff; }
    input:focus::placeholder {
      color: #2c9cff; }

textarea {
  resize: none;
  border-top: 0px solid;
  border-right: 0px solid;
  border-left: 0px solid;
  border-bottom: 1px solid;
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 0.875em;
  line-height: 1.5em;
  color: #626d74;
  display: inline-block;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem; }
  textarea:focus {
    background-color: #d9d9d9;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom: 1px solid; }
    textarea:focus::placeholder {
      color: #2c9cff; }

input.error, textarea.error {
  border-color: #F44336; }
  input.error::placeholder, textarea.error::placeholder {
    color: #F44336; }

body {
  background-color: #f2f2f2; }

.page-header {
  background-color: #0076DE;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.inverted-buttons {
  background-color: #004d92;
  margin-bottom: 1.5rem; }

/* Example CSS */
.sample-grid {
  background-color: #F44336; }
  .sample-grid .column {
    background-color: #f8877f;
    text-align: center; }

.sample-livegrid:after {
  display: table;
  clear: both;
  content: ''; }

.left-sidebar {
  padding: 0.5rem;
  background-color: #fccbc7; }
  @media (min-width: 0px) {
    .left-sidebar {
      width: calc(100% * 12/12 - (0.25rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 0px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 0px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 0px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 640px) {
    .left-sidebar {
      width: calc(100% * 12/12 - (0.5rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 1025px) {
    .left-sidebar {
      width: calc(100% * 12/12 - (1rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 640px) and (min-width: 0px) {
  .left-sidebar {
    width: calc(100% * 4/12 - (0.25rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 640px) and (min-width: 640px) {
  .left-sidebar {
    width: calc(100% * 4/12 - (0.5rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 640px) and (min-width: 1025px) {
  .left-sidebar {
    width: calc(100% * 4/12 - (1rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 1025px) {
    .left-sidebar {
      float: left;
      box-sizing: border-box;
      padding: 1.5rem; } }
  @media (min-width: 1025px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 1025px) and (min-width: 0px) {
    .left-sidebar {
      width: calc(100% * 3/12 - (0.25rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 1025px) and (min-width: 640px) {
    .left-sidebar {
      width: calc(100% * 3/12 - (0.5rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) {
    .left-sidebar {
      width: calc(100% * 3/12 - (1rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 0px) {
    .left-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 640px) {
    .left-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 1025px) {
    .left-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

.middle-area {
  padding: 0.5rem;
  background-color: #f99d97; }
  @media (min-width: 0px) {
    .middle-area {
      width: calc(100% * 12/12 - (0.25rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 0px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 0px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 0px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 640px) {
    .middle-area {
      width: calc(100% * 12/12 - (0.5rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 1025px) {
    .middle-area {
      width: calc(100% * 12/12 - (1rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 640px) {
    .middle-area {
      padding: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 0px) {
    .middle-area {
      width: calc(100% * 4/12 - (0.25rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 640px) and (min-width: 640px) {
    .middle-area {
      width: calc(100% * 4/12 - (0.5rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 640px) and (min-width: 1025px) {
    .middle-area {
      width: calc(100% * 4/12 - (1rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 1025px) and (min-width: 0px) {
  .middle-area {
    width: calc(100% * 6/12 - (0.25rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 1025px) and (min-width: 640px) {
  .middle-area {
    width: calc(100% * 6/12 - (0.5rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 1025px) and (min-width: 1025px) {
  .middle-area {
    width: calc(100% * 6/12 - (1rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 0px) {
    .middle-area {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 640px) {
    .middle-area {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 1025px) {
    .middle-area {
      margin-right: 1rem;
      margin-left: 1rem; } }

.right-sidebar {
  padding: 0.5rem;
  background-color: #f77066; }
  @media (min-width: 0px) {
    .right-sidebar {
      width: calc(100% * 12/12 - (0.25rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 0px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 0px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 0px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 640px) {
    .right-sidebar {
      width: calc(100% * 12/12 - (0.5rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }
  @media (min-width: 1025px) {
    .right-sidebar {
      width: calc(100% * 12/12 - (1rem * 2));
      float: left;
      box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 640px) and (min-width: 0px) {
  .right-sidebar {
    width: calc(100% * 4/12 - (0.25rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 0px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 640px) and (min-width: 640px) {
  .right-sidebar {
    width: calc(100% * 4/12 - (0.5rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 640px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 640px) and (min-width: 1025px) {
  .right-sidebar {
    width: calc(100% * 4/12 - (1rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 640px) and (min-width: 1025px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 1025px) and (min-width: 0px) {
  .right-sidebar {
    width: calc(100% * 3/12 - (0.25rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 0px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 1025px) and (min-width: 640px) {
  .right-sidebar {
    width: calc(100% * 3/12 - (0.5rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 640px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

@media (min-width: 1025px) and (min-width: 1025px) {
  .right-sidebar {
    width: calc(100% * 3/12 - (1rem * 2));
    float: left;
    box-sizing: border-box; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 0px) {
    .right-sidebar {
      margin-right: 0.25rem;
      margin-left: 0.25rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 640px) {
    .right-sidebar {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
  @media (min-width: 1025px) and (min-width: 1025px) and (min-width: 1025px) {
    .right-sidebar {
      margin-right: 1rem;
      margin-left: 1rem; } }

.nested-grid-sample .column {
  background-color: #f6685e; }
