
$shadowintensity10: 0.10;
$shadowintensity20: 0.20;
$shadowintensity30: 0.30;


@mixin box-shadow10($shadowlevel){
	box-shadow: 0px 3px $shadowlevel rgba($kdarkgrey, 0.1);
}
@mixin box-shadow20($shadowlevel){
	box-shadow: 0px 3px $shadowlevel rgba($kdarkgrey, 0.20);
}
@mixin box-shadow30($shadowlevel){
	box-shadow: 0px 3px $shadowlevel rgba($kdarkgrey, 0.30);
}
.box-shadow1{
	@include box-shadow10($shadowlevel1);
}
.box-shadow2{
	@include box-shadow20($shadowlevel1);
}
.box-shadow3{
	@include box-shadow30($shadowlevel1);
}
.box-shadow4{
	@include box-shadow10($shadowlevel2);
}
.box-shadow5{
	@include box-shadow20($shadowlevel2);
}
.box-shadow6{
	@include box-shadow30($shadowlevel2);
}
.box-shadow7{
	@include box-shadow10($shadowlevel3);
}
.box-shadow8{
	@include box-shadow20($shadowlevel3);
}
.box-shadow9{
	@include box-shadow30($shadowlevel3);
}

// 