
$modularscale: (
  base: 0.875em,
  ratio: 1.4,
  280px:(
  base: 0.875em,
  ratio: 1.4,
  	),
  768px:(
  	base: 0.875em,
  	ratio: 1.5
  ),
);

@mixin text-align($alignment){
  text-align: $alignment; 
}
.text-left{
  @include text-align(left);
}
.text-center{
  @include text-align(center);
}
.text-right{
  @include text-align(right);
}