/* Basic Variables */
$root-fontsize: 100%;
$border-radius: 0.25rem;
$layout-maxwidth: 80rem;
$layout-columns: 12;

/* Layout Gutters */
$small-gutter-width: 0.25rem;
$medium-gutter-width: 0.5rem;
$large-gutter-width: 1rem;

/* Typography */
$main-typeface: 'Fira Sans';
$sub-typeface: 'Helvetica';
$base-fontsize: 0.875em;
$base-lineheight: 1.5em;
$font-weight: 400;

/* Spacing */
$normal-spacing: 0.5rem;
$medium-spacing: 1rem;
$large-spacing: 1.5rem;

// Color Variables
$kblue: #0076DE;
$kdarkgrey: #1C1F21;
$white: #fff;
$red: #F44336;
$green: #4CAF50;
$amber: #FFC107;

// Breakpoints
$breakpoints: (
  'small'  : 0px,
  'medium' : 600px,
  'large'  : 1025px
);