/* Buttons */
$i: 2;
// I. Normal Buttons
.button{
	text-transform: uppercase;
	display: inline-block;
	border-radius: $border-radius;
	transition: background-color 0.30s ease-out;
	@include padding-top($normal-spacing);
	@include padding-right($medium-spacing);
	@include padding-bottom($normal-spacing);
	@include padding-left($medium-spacing)
	@include margin-all($normal-spacing);
	text-decoration: none;
	// I.A: Variations
	&:hover{
		@extend .#{$fill-slug}-blue-#{$i};
		color: $white;
	}
	&.inverted{
		color: $white;
	}
	&.deactivated{
		color: darken($white, 20%);
	}
	&.deactivated:hover{
		background-color: transparent;
	}
	&.negative{
		color: $red;
	}
	&.negative:hover{
		@extend .#{$fill-slug}-red-#{$i};
		color: $white;
	}

// II. Secondary Buttons
	&.secondary{
		@include border-all(1px,1px,1px,1px,solid);
		@extend .border-blue;

		// II.A Variations
		&:hover{
			@extend .#{$fill-slug}-blue-#{$i};
			@extend .#{$border-slug}-blue-#{$i};
		}
		&.inverted{
			border-color: $white;
		}
		&.inverted:hover{
			@extend .#{$fill-slug}-blue-#{$i};
			@extend .#{$border-slug}-blue-#{$i};
		}
		&.deactivated{
			@extend .#{$textcolor-slug}-white-#{$i};
			@extend .#{$border-slug}-white-#{$i};
		}
		&.deactivated:hover{
			@extend .#{$textcolor-slug}-white-#{$i};
			@extend .#{$border-slug}-white-#{$i};
			background-color: transparent;
		}
		&.negative{
			color: $red;
			@extend .border-red;
		}
		&.negative:hover{
			color: $white;
			@extend .#{$fill-slug}-red-#{$i};
			@extend .#{$border-slug}-red-#{$i};
		}
	}

//III. Primary Buttons
	&.primary{
		@extend .fill-blue;
		color: $white;
		&:hover{
			@extend .#{$fill-slug}-blue-#{$i};
		}
		&.inverted{
			@extend .fill-white;
			color: $kblue;
		}
		&.inverted:hover{
			@extend .#{$fill-slug}-blue-#{$i};
			color: $white;
		}
		&.deactivated{
			@extend .#{$fill-slug}-white-#{$i};
		}

		&.deactivated:hover{
			@extend .#{$fill-slug}-white-#{$i};
		}
		&.negative{
			@extend .fill-red;
		}
		&.negative:hover{
			@extend .#{$fill-slug}-red-#{$i};
		}
	}
}

